* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #333;
}

.header {
    border-top: solid red;
    background-color: hsl(0, 0%, 82%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
}

.navbar {
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.icon-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

#logo {
    margin: 0;
    padding: 10px 0;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: white;
    background-color: hsl(0, 0%, 32%);
    transition: .2s ease-in-out;
}

.hidden * {
    display: none;
}

.globe-btn,
.search-btn {
    background-color: rgba(255, 255, 255, 0);
    border: hidden;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.globe-btn:hover,
.search-btn:hover {
    background-color: hsl(0, 0%, 32%);
    transition: .2s ease-in-out;
}

.globe-btn:hover img,
.search-btn:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.globe-btn img,
.search-btn img {
    width: 100%;
    height: 100%;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.logo p {
    font-size: 12px;
    margin-top: 5px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.header-icons a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

.iwie {
    float: right;
}

#logo {
    margin: 0;
    padding: 10px 0;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: white;
    background-color: hsl(0, 0%, 32%);
    transition: .2s ease-in-out;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.logo p {
    font-size: 12px;
    margin-top: 5px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.header-icons a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

.hero {
    background-color: #8B0000;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.discover {
    background-color: black;    
    padding: 40px 0;
    background-color: #f0f0f0;
    border-top: solid red;
}

.discover h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

#logo {
    padding: 10px;
    width: fit-content;
}


.student-info {
    background-image: url(https://careers.hitachi.com/system/production/assets/149574/original/pattern-bg-red.jpg);
    background-size: 10000px;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;

}

.student-info h2 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: normal;
}

.student-info h1 {
    font-size: 32px;
    color: #ffffff;
    margin: 10px 0;
}

.student-info p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    width: 1000px;
    text-align: center;
    margin: auto;
}

.job-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px; 
    margin: 10px; 
}

.job-card>a:visited {
    text-decoration: none;
}

.job-card>a:link {
    text-decoration: none;
}

.berufsauswahl-section {
    padding: 10px; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between; 
}

.job-card {
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    /*box-shadow: 0 4px 8px rgba(19, 18, 18, 0.1);*/
    transition: transform 0.3s ease;
    transform: scale(1);
    height: fit-content;
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
}

.job-card:hover {
    transform: scale(1.02);
}

.job-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.job-info {
    padding: 15px;
    background-color: rgb(243, 20, 20);
}

.job-info h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #f1f1f1;
}

.job-info a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.job-info a:hover {
    text-decoration: underline;
}

#infoContainer {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.job-info-window {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    /*max-width: 1500px;*/
    margin: 20px auto;
}

.job-info-window h2 {
    font-size: 24px;
    color: #333;
}

.job-info-window p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

/*.job-info-window .close-btn {
    padding: 10px 15px;
    background-color: none;
    color: gray;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.job-info-window .close-btn:hover {
    background-color: #6d1c1c;
    color: white;
}*/

.job-info-window .close-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #e02e2e;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.job-info-window .close-btn:hover {
    background-color: #a41919;
}

.job-info-window .Kontakt-btn{
    display: inline-block;
    padding: 10px 15px;
    background-color: #8f8f8f;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.job-info-window .Kontakt-btn:hover {
    background-color: #535353;
}


.job-info-window .join-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #38dd38;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.job-info-window .join-btn:hover {
    background-color: #4ab821;
}



@media (max-width: 768px) {
    .job-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .job-card {
        width: 100%;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.moeglichkeiten {
    text-align: center;
    margin: 20px 0;
}

.tabs-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.button {
    padding: 10px 20px;
    border: 1px solid red;
    margin-right: 10px;
    margin-bottom: 10px; 
    cursor: pointer;
    border-radius: 100px;
    background-color: white; 
    color: red; 
    transition: background-color 0.3s, color 0.3s; 
}

.button:hover {
    background-color: red;
    color: white;
    transform: scale(1.1);
}

.button.active {
    background-color: red;
    color: white;
}


.berufsauswahl-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.beruf {
    text-align: center;
}

.beruf img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.beruf-info {
    margin-top: 10px;
}

.beruf-info h3 {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.beruf-info a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.highlight {
    font-size: 26px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
}


.logo-left {
    transform: scale(2);
    float: left;
    margin-left: 50px;
}

.logo-right {
    float: center;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.contact-label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.contact-label:nth-child(2) {
    color: #d52421;
    text-decoration: underline;
    cursor: pointer;
}

.contact-label:nth-child(2):hover {
    text-decoration: none;
}

